html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:lightblue;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 100px;
}

.keys {
  display:flex;
  flex: 1;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.key {
  padding:10px;
  color:white;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 100px;
  background: rgba(0,0,0,0.4);
  transition: all 0.07s;
}

kbd {
    display: block;
    font-size: 3rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: orange;
  box-shadow: 0 0 10px orange;
}
